---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: homelab-settings
spec:
  template:
    spec:
      containers:
        - name: postgres
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
