apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-timescaledb-datasource
  namespace: grafana
  labels:
    app: grafana
    grafana_datasource: "1"
data:
  timescaledb.yaml: |
    apiVersion: 1
    datasources:
      - name: TimescaleDB
        type: postgres
        uid: timescaledb
        url: timescaledb.heatpump-mqtt.svc.cluster.local:5432
        access: proxy
        database: timescaledb
        user: "${PG_USER}"
        secureJsonData:
          password: "${PG_PASSWORD}"
        jsonData:
          sslmode: disable
          timescaledb: true

