apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-loki-datasource
  namespace: grafana
  labels:
    app: grafana
    grafana_datasource: "1"
data:
  loki.yaml: |
    apiVersion: 1
    datasources:
      - name: Loki
        type: loki
        access: proxy
        url: http://loki.monitoring.svc.cluster.local
        isDefault: false
        jsonData:
          maxLines: 1000
          derivedFields:
            - datasourceUid: prometheus
              matcherRegex: "trace_id=(\\w+)"
              name: "TraceID"
              url: "$${__value.raw}"


