apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: grafana
spec:
  interval: 5m
  chart:
    spec:
      chart: grafana
      version: "8.3.*"
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  values:
    replicas: 1

    persistence:
      enabled: true
      storageClassName: longhorn

    sidecar:
      datasources:
        enabled: true
        label: grafana_datasource
        searchNamespace: grafana
        envValueFrom:
          PG_USER:
            secretKeyRef:
              name: grafana-timescaledb-secret
              key: POSTGRES_USER
          PG_PASSWORD:
            secretKeyRef:
              name: grafana-timescaledb-secret
              key: POSTGRES_PASSWORD

    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: Prometheus
            type: prometheus
            url: http://kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090
            access: proxy
            isDefault: false

          - name: Loki
            type: loki
            access: proxy
            url: http://loki-gateway.monitoring.svc.cluster.local
            isDefault: false
            jsonData:
              maxLines: 1000
              derivedFields:
                - datasourceUid: prometheus
                  matcherRegex: "trace_id=(\\w+)"
                  name: "TraceID"
                  url: "$${__value.raw}"
      configmaps:
        - grafana-timescaledb-datasource

    admin:
      existingSecret: grafana-admin
      userKey: admin-user
      passwordKey: admin-password

    resources:
      limits:
        cpu: "500m"
        memory: "512Mi"
      requests:
        cpu: "100m"
        memory: "128Mi"

    service:
      type: ClusterIP
      port: 80

    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: 'default'
            orgId: 1
            folder: ''
            type: file
            disableDeletion: false
            editable: true
            allowUiUpdates: true
            options:
              path: /var/lib/grafana/dashboards/default

    dashboards:
      default:
        energy-dashboard:
          file: energy-dashboard.json

    extraConfigmapMounts:
      - name: energy-dashboard
        mountPath: /var/lib/grafana/dashboards/default
        configMap: energy-dashboard
        readOnly: false

