---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: oauth2-proxy
resources:
  - namespace.yaml
  - deployment.yaml
  - deployment-claude-mcp.yaml
  - service.yaml
  - service-claude-mcp.yaml
  - secrets-sealed.yaml
  - oauth2-proxy-claude-mcp-secrets-sealed.yaml
