apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: timescaledb
resources:
  - namespace.yaml
  - configmap.yaml
  - persistentvolumeclaim.yaml
  - deployment.yaml
  - service.yaml
  - redpanda-connect-deployment.yaml

configMapGenerator:
  - name: redpanda-connect-config
    files:
      - configs/energy.yaml
      - configs/temperature.yaml
      - configs/heatpump.yaml
