apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: timescaledb
resources:
  - namespace.yaml
  - persistentvolumeclaim.yaml
  - deployment.yaml
  - service.yaml
  - migration-job.yaml
  - redpanda-connect-deployment.yaml
  - backup-cronjob.yaml
  - backup-aws-credentials-sealed.yaml

configMapGenerator:
  - name: redpanda-connect-config
    files:
      - configs/energy.yaml
      - configs/temperature.yaml
      - configs/heatpump.yaml
  - name: timescaledb-migrations
    files:
      - migrations/001_initial_schema.sql
      - migrations/run_migrations.sh
