---
apiVersion: v1
kind: Service
metadata:
  name: timescaledb
  namespace: timescaledb
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector:
    app: timescaledb
