mqtt:
  host: "p0.local"
  port: 1883
  client_id: "mqtt-input"
  username: "thermiq"
  password: "thermiq"
  keep_alive_secs: 30
  clean_session: true
  protocol: "v5"
  tls:
    ca_file: ""

redpanda:
  brokers: "redpanda.redpanda.svc.cluster.local:9092"

pipelines:
  - name: "heatpump"
    topic: "thermiq_heatpump/data"
    qos: 1
    redpanda_topic: "heatpump-telemetry"
    timestamp:
      path: "$.timestamp"
      format: "unix_s"
      use_now: true
    tags:
      device_id: "$.device_id"
      room: "$.room"
    fields:
      outdoor_temp:
        path: "$.d0"
        type: "float"
      supplyline_temp:
        path: "$.d5"
        type: "float"
      returnline_temp:
        path: "$.d6"
        type: "float"
      hotwater_temp:
        path: "$.d7"
        type: "int"
      brine_out_temp:
        path: "$.d8"
        type: "int"
      brine_in_temp:
        path: "$.d9"
        type: "int"
      integral:
        path: "$.d25"
        type: "int"
      flowlinepump_speed:
        path: "$.d30"
        type: "int"
      brinepump_speed:
        path: "$.d31"
        type: "int"
      runtime_compressor:
        path: "$.d104"
        type: "int"
      runtime_hotwater:
        path: "$.d108"
        type: "int"
      runtime_3kw:
        path: "$.d106"
        type: "int"
      runtime_6kw:
        path: "$.d114"
        type: "int"
    bit_flags:
      - source_path: "$.d16"
        flags:
          0: "brinepump_on"
          1: "compressor_on"
          2: "flowlinepump_on"
          3: "hotwater_production"
          4: "circulation_pump"
      - source_path: "$.d13"
        flags:
          0: "aux_heater_3kw_on"
          1: "aux_heater_6kw_on"
    store_interval: "MINUTE"  # Only store one message per minute
  - name: "sensors"
    topic: "home/sensors/+/state"
    qos: 1
    redpanda_topic: "sensor-state"
    timestamp:
      use_now: true
    tags:
      sensor: "$.name"
      location: "$.location"
    fields:
      temperature_c:
        path: "$.temperature"
        type: "float"
      humidity_pct:
        path: "$.humidity"
        type: "float"
    # No store_interval specified - all messages will be stored
