---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mqtt-redpanda-bridge
  namespace: mqtt-redpanda-bridge
spec:
  template:
    spec:
      containers:
        - name: redpanda-connect
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
