apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - timescaledb-secret-sealed.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml

commonLabels:
  app: homelab-api
