---
apiVersion: v1
kind: Service
metadata:
  name: homelab-api
  namespace: homelab-api
  labels:
    app: homelab-api
    backstage.io/kubernetes-id: homelab-api
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: homelab-api
