apiVersion: v1
kind: Service
metadata:
  name: homelab-settings-api
  namespace: homelab-settings
  labels:
    app: homelab-settings-api
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
  selector:
    app: homelab-settings-api
