---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mqtt-kafka-bridge
  namespace: mqtt-kafka-bridge
spec:
  template:
    spec:
      containers:
        - name: redpanda-connect
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: 1000m
              memory: 512Mi
