apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: heatpump-settings
resources:
  - namespace.yaml
  - persistentvolumeclaim.yaml
  - deployment.yaml
  - service.yaml
  - migration-job.yaml
  - redpanda-connect-deployment.yaml
  - heatpump-settings-api-deployment.yaml
  - backup-cronjob.yaml
  - backup-aws-credentials-sealed.yaml

configMapGenerator:
  - name: heatpump-settings-config
    files:
      - configs/heatpump-settings.yaml
  - name: heatpump-settings-api-config
    files:
      - config.yaml=configs/heatpump-settings-api-config.yaml
  - name: postgres-migrations
    files:
      - migrations/001_initial_schema.sql
      - migrations/run_migrations.sh
