---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: heatpump-settings
spec:
  type: ClusterIP
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
      protocol: TCP
  selector:
    app: postgres
