---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: homelab-settings
spec:
  template:
    spec:
      containers:
        - name: postgres
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
