apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  namespace: cloudflare-tunnel
spec:
  selector:
    matchLabels:
      app: cloudflared
  replicas: 2  # For high availability
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      containers:
      - name: cloudflared
        image: cloudflare/cloudflared:latest-arm64
        args:
        - tunnel
        - --no-autoupdate
        - --config
        - /etc/cloudflared/config.yaml
        - run
        livenessProbe:
          httpGet:
            path: /ready
            port: 2000
          failureThreshold: 1
          initialDelaySeconds: 10
          periodSeconds: 10
        volumeMounts:
        - name: config
          mountPath: /etc/cloudflared/config.yaml
          subPath: config.yaml
          readOnly: true
        - name: credentials
          mountPath: /etc/cloudflared/cred.json
          subPath: cred.json
          readOnly: true
        - name: cert
          mountPath: /etc/cloudflared/cert.pem
          subPath: cert.pem
          readOnly: true
        resources:
          limits:
            memory: 128Mi
            cpu: 100m
          requests:
            memory: 64Mi
            cpu: 50m
      volumes:
      - name: config
        configMap:
          name: cloudflared-config
      - name: credentials
        secret:
          secretName: cloudflare-tunnel-secret
      - name: cert
        secret:
          secretName: cloudflared-cert-secret

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
  namespace: cloudflare-tunnel
data:
  config.yaml: |
    tunnel: 3e1b5cb1-f28b-4d3c-b43f-546e6c0db8aa  # Replace with your tunnel ID
    credentials-file: /etc/cloudflared/cred.json
    origincert: /etc/cloudflared/cert.pem
    # Metrics for monitoring
    metrics: 0.0.0.0:2000
    
    # Ingress rules
    ingress:
      # Whoami service
      - hostname: whoami.k12n.com
        service: http://homelab-whoami.default.svc.cluster.local:80
      
      # grafana
      - hostname: grafana.k12n.com
        service: http://grafana.grafana.svc.cluster.local:80
      
      # Backend API (login and API endpoints - protected with Cloudflare Access - see README.md)
      - hostname: api.k12n.com
        service: http://redpanda-sink.redpanda-sink.svc.cluster.local:8080
      
      # Catch-all rule (required)
      - service: http_status:404