---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: backstage-stripprefix
  namespace: traefik
spec:
  stripPrefix:
    prefixes:
      - /admin/backstage
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: redpanda-stripprefix
  namespace: traefik
spec:
  stripPrefix:
    prefixes:
      - /admin/redpanda
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: mcp-kubernetes-stripprefix
  namespace: traefik
spec:
  stripPrefix:
    prefixes:
      - /models/kubernetes
