apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - helmrelease.yaml
  # Temporarily commented out - will re-enable after Longhorn CRDs are installed
  # - node-nvme.yaml