apiVersion: v1
kind: Service
metadata:
  name: heatpump-settings-api
  namespace: heatpump-settings
  labels:
    app: heatpump-settings-api
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
  selector:
    app: heatpump-settings-api
