apiVersion: v1
kind: ConfigMap
metadata:
  name: mqtt-generator-config
  namespace: mqtt-generator
data:
  MQTT_BROKER: "mosquitto.mosquitto.svc.cluster.local"
  MQTT_PORT: "1883"
  GENERATOR_CONFIG: |
    {
      "streams": [
        {
          "topic": "homelab/energy/realtime",
          "interval": 1.0,
          "values": [
            {"name": "saveeyeDeviceSerialNumber", "min": 0, "max": 0, "decimals": 0, "string_value": "9MANZWNG"},
            {"name": "meterType", "min": 0, "max": 0, "decimals": 0, "string_value": ""},
            {"name": "meterSerialNumber", "min": 0, "max": 0, "decimals": 0, "string_value": "Not found"},
            {"name": "wifiRssi", "min": -45, "max": -30, "decimals": 0},
            {"name": "activeActualConsumption.L1", "min": 100, "max": 800, "decimals": 0},
            {"name": "activeActualConsumption.L2", "min": 50, "max": 300, "decimals": 0},
            {"name": "activeActualConsumption.L3", "min": 50, "max": 200, "decimals": 0},
            {"name": "activeActualConsumption.total", "min": 200, "max": 1300, "decimals": 0},
            {"name": "activeActualProduction.L1", "min": 0, "max": 0, "decimals": 0},
            {"name": "activeActualProduction.L2", "min": 0, "max": 0, "decimals": 0},
            {"name": "activeActualProduction.L3", "min": 0, "max": 0, "decimals": 0},
            {"name": "activeActualProduction.total", "min": 0, "max": 0, "decimals": 0},
            {"name": "activeTotalConsumption.total", "min": 100000000, "max": 100000000, "decimals": 0, "accumulator": true, "increment_min": 1, "increment_max": 20},
            {"name": "activeTotalProduction.total", "min": 80, "max": 80, "decimals": 0, "accumulator": true, "increment_min": 0, "increment_max": 1},
            {"name": "reactiveActualConsumption.total", "min": 0, "max": 10, "decimals": 0},
            {"name": "reactiveActualProduction.total", "min": 400, "max": 600, "decimals": 0},
            {"name": "reactiveTotalConsumption.total", "min": 30000000, "max": 30000000, "decimals": 0, "accumulator": true, "increment_min": 0, "increment_max": 5},
            {"name": "reactiveTotalProduction.total", "min": 16000000, "max": 16000000, "decimals": 0, "accumulator": true, "increment_min": 0, "increment_max": 3},
            {"name": "rmsVoltage.L1", "min": 236, "max": 240, "decimals": 0},
            {"name": "rmsVoltage.L2", "min": 236, "max": 240, "decimals": 0},
            {"name": "rmsVoltage.L3", "min": 236, "max": 240, "decimals": 0},
            {"name": "rmsCurrent.L1", "min": 500, "max": 3000, "decimals": 0},
            {"name": "rmsCurrent.L2", "min": 200, "max": 1500, "decimals": 0},
            {"name": "rmsCurrent.L3", "min": 200, "max": 1000, "decimals": 0},
            {"name": "powerFactor.total", "min": 95, "max": 100, "decimals": 0}
          ]
        },
        {
          "topic": "homelab/temperature/indoor",
          "interval": 30.0,
          "values": [
            {"name": "src", "min": 0, "max": 0, "decimals": 0, "string_value": "shellyhtg3-e4b32322a0f4"},
            {"name": "dst", "min": 0, "max": 0, "decimals": 0, "string_value": "shellyhtg3-e4b32322a0f4/events"},
            {"name": "method", "min": 0, "max": 0, "decimals": 0, "string_value": "NotifyFullStatus"},
            {"name": "params.ts", "min": 1759505700, "max": 1759505700, "decimals": 2, "accumulator": true, "increment_min": 30, "increment_max": 30},
            {"name": "params.cloud.connected", "min": 0, "max": 0, "decimals": 0},
            {"name": "params.devicepower:0.id", "min": 0, "max": 0, "decimals": 0},
            {"name": "params.devicepower:0.battery.V", "min": 0, "max": 0, "decimals": 2},
            {"name": "params.devicepower:0.battery.percent", "min": 0, "max": 0, "decimals": 0},
            {"name": "params.devicepower:0.external.present", "min": 1, "max": 1, "decimals": 0},
            {"name": "params.humidity:0.id", "min": 0, "max": 0, "decimals": 0},
            {"name": "params.humidity:0.rh", "min": 40, "max": 50, "decimals": 1},
            {"name": "params.mqtt.connected", "min": 1, "max": 1, "decimals": 0},
            {"name": "params.sys.mac", "min": 0, "max": 0, "decimals": 0, "string_value": "E4B32322A0F4"},
            {"name": "params.sys.restart_required", "min": 0, "max": 0, "decimals": 0},
            {"name": "params.sys.uptime", "min": 0, "max": 0, "decimals": 0, "accumulator": true, "increment_min": 30, "increment_max": 30},
            {"name": "params.sys.ram_size", "min": 255800, "max": 255800, "decimals": 0},
            {"name": "params.sys.ram_free", "min": 160000, "max": 170000, "decimals": 0},
            {"name": "params.sys.fs_size", "min": 1048576, "max": 1048576, "decimals": 0},
            {"name": "params.sys.fs_free", "min": 750000, "max": 760000, "decimals": 0},
            {"name": "params.sys.cfg_rev", "min": 11, "max": 11, "decimals": 0},
            {"name": "params.sys.kvs_rev", "min": 0, "max": 0, "decimals": 0},
            {"name": "params.sys.webhook_rev", "min": 0, "max": 0, "decimals": 0},
            {"name": "params.sys.wakeup_reason.boot", "min": 0, "max": 0, "decimals": 0, "string_value": "deepsleep_wake"},
            {"name": "params.sys.wakeup_reason.cause", "min": 0, "max": 0, "decimals": 0, "string_value": "status_update"},
            {"name": "params.sys.wakeup_period", "min": 600, "max": 600, "decimals": 0},
            {"name": "params.sys.reset_reason", "min": 8, "max": 8, "decimals": 0},
            {"name": "params.temperature:0.id", "min": 0, "max": 0, "decimals": 0},
            {"name": "params.temperature:0.tC", "min": 19.8, "max": 22.0, "decimals": 1},
            {"name": "params.temperature:0.tF", "min": 67.6, "max": 71.6, "decimals": 1},
            {"name": "params.wifi.sta_ip", "min": 0, "max": 0, "decimals": 0, "string_value": "192.168.50.63"},
            {"name": "params.wifi.status", "min": 0, "max": 0, "decimals": 0, "string_value": "got ip"},
            {"name": "params.wifi.ssid", "min": 0, "max": 0, "decimals": 0, "string_value": "JRK-70"},
            {"name": "params.wifi.rssi", "min": -60, "max": -50, "decimals": 0},
            {"name": "params.ws.connected", "min": 0, "max": 0, "decimals": 0}
          ]
        },
        {
          "topic": "homelab/temperature/outdoor",
          "interval": 60.0,
          "values": [
            {"name": "temperature_c", "min": -10, "max": 30, "decimals": 1},
            {"name": "humidity_pct", "min": 30, "max": 90, "decimals": 0},
            {"name": "wind_speed_ms", "min": 0, "max": 20, "decimals": 1},
            {"name": "pressure_hpa", "min": 980, "max": 1030, "decimals": 1}
          ]
        },
        {
          "topic": "thermiq_heatpump/data",
          "interval": 5.0,
          "values": [
            {"name": "Client_Name", "min": 0, "max": 0, "decimals": 0},
            {"name": "app_info", "min": 0, "max": 0, "decimals": 0},
            {"name": "reason", "min": 0, "max": 0, "decimals": 0},
            {"name": "rssi", "min": -60, "max": -60, "decimals": 0},
            {"name": "d0", "min": -10, "max": 10, "decimals": 0},
            {"name": "d1", "min": 20, "max": 20, "decimals": 0},
            {"name": "d2", "min": 0, "max": 0, "decimals": 0},
            {"name": "d3", "min": 20, "max": 20, "decimals": 0},
            {"name": "d4", "min": 0, "max": 0, "decimals": 0},
            {"name": "d5", "min": 30, "max": 40, "decimals": 0},
            {"name": "d6", "min": 35, "max": 45, "decimals": 0},
            {"name": "d7", "min": 45, "max": 60, "decimals": 0},
            {"name": "d8", "min": -2, "max": 5, "decimals": 0},
            {"name": "d9", "min": -5, "max": 2, "decimals": 0},
            {"name": "d10", "min": -40, "max": -40, "decimals": 0},
            {"name": "d11", "min": 0, "max": 0, "decimals": 0},
            {"name": "d12", "min": 0, "max": 0, "decimals": 0},
            {"name": "d13", "min": 0, "max": 0, "decimals": 0},
            {"name": "d14", "min": 34, "max": 34, "decimals": 0},
            {"name": "d15", "min": 38, "max": 38, "decimals": 0},
            {"name": "d16", "min": 4, "max": 4, "decimals": 0},
            {"name": "d17", "min": 0, "max": 0, "decimals": 0},
            {"name": "d18", "min": 0, "max": 0, "decimals": 0},
            {"name": "d19", "min": 0, "max": 0, "decimals": 0},
            {"name": "d20", "min": 16, "max": 16, "decimals": 0},
            {"name": "d21", "min": 0, "max": 0, "decimals": 0},
            {"name": "d22", "min": 0, "max": 0, "decimals": 0},
            {"name": "d23", "min": 32, "max": 32, "decimals": 0},
            {"name": "d24", "min": 28, "max": 28, "decimals": 0},
            {"name": "d25", "min": -180, "max": -180, "decimals": 0},
            {"name": "d26", "min": 1, "max": 1, "decimals": 0},
            {"name": "d27", "min": 0, "max": 0, "decimals": 0},
            {"name": "d28", "min": 0, "max": 0, "decimals": 0},
            {"name": "d29", "min": 13, "max": 13, "decimals": 0},
            {"name": "d30", "min": 50, "max": 50, "decimals": 0},
            {"name": "d31", "min": 0, "max": 0, "decimals": 0},
            {"name": "d50", "min": 20, "max": 20, "decimals": 0},
            {"name": "d51", "min": 1, "max": 1, "decimals": 0},
            {"name": "d52", "min": 36, "max": 36, "decimals": 0},
            {"name": "d53", "min": 10, "max": 10, "decimals": 0},
            {"name": "d54", "min": 45, "max": 45, "decimals": 0},
            {"name": "d55", "min": 2, "max": 2, "decimals": 0},
            {"name": "d104", "min": 40000, "max": 50000, "decimals": 0},
            {"name": "d105", "min": 50000, "max": 51000, "decimals": 0},
            {"name": "d106", "min": 450, "max": 460, "decimals": 0},
            {"name": "d107", "min": 25000, "max": 25100, "decimals": 0},
            {"name": "d108", "min": 3100, "max": 3200, "decimals": 0},
            {"name": "d114", "min": 470, "max": 470, "decimals": 0},
            {"name": "INDR_T", "min": 20, "max": 21, "decimals": 0},
            {"name": "EVU", "min": 0, "max": 0, "decimals": 0}
          ]
        }
      ]
    }
