---
apiVersion: v1
kind: Service
metadata:
  name: kong-proxy
  namespace: kong
spec:
  selector:
    app: kong-gateway
  ports:
    - name: proxy
      port: 8000
      targetPort: 8000
      protocol: TCP
    - name: proxy-ssl
      port: 8443
      targetPort: 8443
      protocol: TCP
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: kong-admin
  namespace: kong
spec:
  selector:
    app: kong-gateway
  ports:
    - name: admin
      port: 8001
      targetPort: 8001
      protocol: TCP
  type: ClusterIP
