---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: timescaledb
  namespace: timescaledb
spec:
  template:
    spec:
      containers:
        - name: timescaledb
          resources:
            requests:
              cpu: 500m
              memory: 1Gi
            limits:
              cpu: 2000m
              memory: 4Gi
