---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: frontend-routes
  namespace: traefik
spec:
  entryPoints:
    - web
  routes:
    # Heatpump Web Frontend (protected by OAuth2 Proxy)
    - match: Host(`heatpump.k12n.com`)
      kind: Rule
      middlewares:
        - name: https-scheme
          namespace: traefik
        - name: oauth2-proxy-auth
          namespace: traefik
      services:
        - name: heatpump-web
          namespace: heatpump-web
          port: 80
