apiVersion: v1
kind: Service
metadata:
  name: redpanda-sink
  namespace: redpanda-sink
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: redpanda-sink



